@model ZeonEcommerce.ViewModel.ParameterProduct
@{
    /**/

    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    var user = Session["CurrentUser"] as ZeonEcommerce.Models.Customers;
}
<style>
    table, th, td {
        border: 1px solid #E5E5E5;
        color: #909090;
        padding: 5px;
    }
    .productDesc {
        margin: 10px;
        font-size: 18px;
    }
    .productName {
        font-size: 24px;
        font-weight: 500;
        margin: 10px;
        margin-bottom: 20px;
    }
    .tableOne{
        margin-bottom:20px;
        
    }
</style>

<div class="modal fade" id="write-review" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-review">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Rəy Bildirin</h3>
            <form action="@Url.Action("AddProductComments","Home")" id="AddProductComment" method="post">
                <p>
                    Adınız : @if (user != null)
                    {

                        <span>@user.Name</span>

                    }
                </p>
                <input type="hidden" id="ProductsID" name="ProductsID" value="@Model.Product.ProductsId" />
                <input type="hidden" id="CreateTime" name="CreateTime" value="@DateTime.Now" />

                <input type="hidden" name="CustomersID" id="CustomersID" value="@Session["CurrentUserId"]" />
                <p>Rəyiniz</p>
                <textarea class="text-area" id="Comment" name="Comment"></textarea>
                <button type="submit" class="button-6">Rəy bildir</button>
            </form>
        </div>
    </div>
</div>
<div class="product-one">
    <div class="container" style="background-color:#fff;border:1px solid #E5E5E5;box-shadow:2px;">
        <div class="row">
            <div class="col-md-6">
                <div class="the-slider product-big-image" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".product-image-arrows-right" data-tesla-prev=".product-image-arrows-left" data-tesla-container=".slide-wrapper">
                    <ul class="product-image-arrows">
                        <li class="product-image-arrows-left"><i class="icon-517" title="left"></i></li>
                        <li class="product-image-arrows-right"><i class="icon-501" title="right"></i></li>
                    </ul>
                    <ul class="slide-wrapper">
                        @if (Model.Product.Images != null)
                        {


                            foreach (var item in Model.Product.Images)
                            {
                                <li class="slide" style="height:500px"><img src="~/@item.ProductSlider?w=500&h=500" alt="product image" /></li>

                            }

                        }

                    </ul>
                    <div class="row">
                        <ul class="the-bullets-dots" data-tesla-plugin="bullets">
                            @foreach (var item in Model.Product.Images)
                            {
                                <li><div class="col-md-2 col-xs-2"><img src="~/@item.ProductSlider?w=500&h=500" alt="product image" /></div></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="font-family:Arial;">
                <div class="row" style="margin-top:30px;margin-bottom:30px;">
                    <span class="productName" >@Model.Product.Name</span>
                    <div>
                        <div class="productDesc">Qiyməti: @Model.Product.Price  ₼</div>
                    </div>
                    <div>
                        <div class="productDesc">Marka: @Model.Product.Brands.Name  </div>
                    </div>

                </div>
                <div class="row">
                    <div style="background-color:#F5F5F5; width:550px; height:auto;padding: 10px;color:#909090;font-size:13px;">
                        <p><span style="font-size:16px;margin:10px;font-family:Arial">Zəmanət:</span>    1 İl +$ 5 - Zəmanət şərtləri ilə tanış oldum</p>
                        <p><span style="font-size:16px;margin:10px;font-family:Arial">Vəziyyəti: </span> <b>Yeni</b> - Bu mal tamamilə yenidir</p>
                        <p><span style="font-size:16px;margin:10px;font-family:Arial">Göndəriş:</span>  <b> 5-7 gün</b> (təxminən) Biz adətən bağlamaları 3-4 iş gün ərzində göndəririk</p>
                        <p><span style="font-size:16px;margin:10px;font-family:Arial">Çatdirilma:</span> <b>10 ₼  Azərbaycanda bölgələrə</b></p>
                        <p><span style="font-size:16px;margin:10px;font-family:Arial">Zəmanət:</span>    <b>Yoxlamaq üçün 5 gün</b> - hər bir problemi tez həll edirik</p>
                        <div style="margin:10px;">
                            <a href="avascript:void(0)" class="button-2-out button-2 AddToCart" data-id="@Model.Product.ProductsId" style="margin:10px;">Səbətə Əlavə Et</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container" style="background-color:#fff;border:1px solid #E5E5E5;box-shadow:2px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#description" data-toggle="tab">Xüsusiyyətlər</a></li>
            <li class=""><a href="#reviews" data-toggle="tab">Rəylər</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="description">
                <p class="productName">@Model.Product.Name</p>
                <table class="col-md-12 tableOne" style="color:#909090">
                    @foreach (var item in Model.ProductParameters)
                    {
                        <tr>
                            <td style="width:30%;">@item.ParametrType.Name</td>

                            <td  style="width:70%;">@item.ParametrValue.Name</td>
                        </tr>
                    }
                </table>
                
            </div>
            <div class="tab-pane" id="reviews">
                @foreach (var item in Model.Product.ProductsComments)
                {

                    <div class="product-review">
                        <div class="product-review-avatar">
                            <img src="~/Public/Zeon/images/elements/testimonial-avatar.jpg" alt="avatar" />
                        </div>
                        @if (item.SuppliersID != null)
                        {
                            <div class="product-review-author">@item.Suppliers.Name <span>@DateTime.Now.ToString("dd MMMM")</span></div>
                        }
                        @if (item.CustomersID != null)
                        {
                            <div class="product-review-author">@item.Customers.Name <span>@item.CreateTime.ToString("dd MMMM")</span></div>
                        }


                        <p>@item.Comment</p>
                    </div>

                }
                @if (Session["CurrentUser"] != null)
                {
                    <a href="#" class="button-9" data-toggle="modal" data-target="#write-review">Rəy Bildirin</a>
                }
                else
                {
                    <div style="padding-left:30px;padding-bottom:20px">
                        <span>Rəy yazmaq üçün</span> <a href="/Giriş-Qeydiyyat" style="color:#ff6a00;">daxil olun</a>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@{Html.RenderAction("NewProducts", "Home");}

@section script{
    <script>
        $(document).ready(function myfunction() {
            $(".button-2").mouseleave(function () {
                $(this).addClass('button-2-out');
            });

            $(".button-2").mouseout(function () {
                $(this).addClass('button-2-out');
            });

        });
    </script>
    <script>
        $(document).ready(function myfunction() {
            $(".AddToCart").click(function myfunction() {
                var pId = $(this).attr("data-id");
                $.ajax({
                    type: "GET",
                    url: "/Home/AddCart",
                    data: { id: pId },
                    success: function myfunction() {
                        $.ajax({
                            type: "GET",
                            url: "/Home/MiniCartWidget",
                            success: function myfunction(data) {
                                $(".cart-all").html("");
                                $(".cart-all").html(data);
                            }
                        })
                    },
                    error: function myfunction() {
                        alert("Error")
                    }
                });
            });
        });
    </script>
}
