@model ZeonEcommerce.ViewModel.ProductBrands
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    var category = ViewBag.CategoryOne as ZeonEcommerce.Models.Categories;
}

<div class="container" style="background-color:#fff;border:1px solid #E5E5E5;box-shadow:2px; padding:20px;padding-bottom:40px;">

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-xs-6">
                    <div class="products-dropdown open-dropdown">

                        <span>Kategoriyalar</span>
                        <ul>
                            @foreach (var item in Model.Categories)
                            {

                                <li><a href="@Url.Action("Products", "Home", new { category =item.Name })">@item.Name</a></li>
                            }

                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-12 col-xs-6">
                    <div class="products-dropdown">
                        <span>Brendlər</span>
                        <ul>
                            @foreach (ZeonEcommerce.Models.Brands item in Model.Brands)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                        </ul>
                        <div class="products-dropdown-close">Clear <i class="icon-456" title="close"></i></div>
                        <div class="clear"></div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model.Products)
                {

                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-cover">
                                <img src="~/@item.Picture?w=190&h=190" alt="product name" />
                            </div>
                            <div class="p-details">
                                <h4>
                                    <a href="@Url.Action("ProductDetails", "Home", new { id = item.ProductsId })">
                                        @{
                                            string name = "";
                                            if (item.Name.Length > 40)
                                            {
                                                name = item.Name.Substring(0, 40) + "...";

                                            }
                                            else
                                            {
                                                name = item.Name;
                                            }
                                        } <span>@name</span>
                                    </a>
                                </h4>
                                @if (item.Discont != 0)
                                {
                                    <div class="product-discont"><div class="discont">%@item.Discont</div></div>
                                    <div style="width:60%" class="product-price">
                                        <a href="javascript:void(0)" data-id="@item.ProductsId" class="AddToCart"><i class="icon-257" title="Səbətə at"></i></a>
                                        <p style="font-size:14px;">
                                            <span style="text-decoration-line: line-through; ">@item.Price</span><br />
                                            @{var price = (decimal)(item.Price - (item.Price * item.Discont) / 100);}@price
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div style="width:92%;padding-top:4px;" class="product-price">
                                        <a href="javascript:void(0)" data-id="@item.ProductsId" class="AddToCart">
                                            <i class="icon-257 " style="margin-bottom: -1px;" title="Səbətə at"></i>
                                        </a>
                                        <p>@item.Price</p>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.PageCount != 1)
            {
                <ul class="page-numbers">
                    @for (int i = 1; i < Model.PageCount; i++)
                    {
                        if (Request.Params["page"] == i.ToString())
                        {
                            <li><span class="page-numbers current">@i</span></li>
                            continue;
                        }
                        <li><a class="page-numbers current" href="@Url.Action("Products","Home",new {category=ViewBag.Category,brand=ViewBag.Brands,search=ViewBag.Search,page=i})">@i</a> /</li>
                    }

                </ul>
            }

        </div>
    </div>
</div>


<script src="~/Public/Zeon/js/jquery-2.2.0.min.js"></script>
<script>
    $(document).ready(function myfunction() {
        $(".AddToCart").click(function myfunction() {
            var pId = $(this).attr("data-id");
            $.ajax({
                type: "GET",
                url: "/Home/AddCart",
                data: { id: pId },
                success: function myfunction() {
                    $.ajax({
                        type: "GET",
                        url: "/Home/MiniCartWidget",
                        success: function myfunction(data) {
                            $(".cart-all").html("");
                            $(".cart-all").html(data);
                        }
                    })
                },
                error: function myfunction() {
                    alert("Error sfgsgs")
                }
            });
        });
    });
</script>