@model ICollection<ZeonEcommerce.Models.Customers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="card card-data-tables customer-table-wrapper">
            <header class="card-heading">
                <h2 class="card-title">Alıcılar</h2>
                <small class="dataTables_info"></small>
                <ul class="card-actions icons right-top">
                    <li id="deleteItems" style="display: none;">
                        <span class="label label-info pull-left m-t-5 m-r-10 text-white"></span>
                        <a href="javascript:void(0)" id="confirmDelete" data-toggle="tooltip" data-placement="top" data-original-title="Delete Product(s)">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                </ul>
            </header>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table id="orderTable" class="mdl-data-table customer-table m-t-30" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th data-orderable="false" class="col-xs-1">
                                    <span class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" id="checkAll">
                                            <span class="checkbox-material"></span>
                                        </label>
                                    </span>
                                </th>
                                <th class="col-xs-1">Ad Soyadı</th>
                                <th class="col-xs-2">Email</th>
                                <th class="col-xs-2">Şəhər</th>

                                <th class="col-xs-2">Telefon</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="checkbox-cell">
                                        <span class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" id="">
                                                <span class="checkbox-material"></span>
                                            </label>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <span class="name block m-t-10 m-b-10">@item.Name</span>
                                        </div>
                                    </td>
                                    <td>@item.Email</td>
                                    <td>@item.City</td>
                                    <td>@item.Phone</td>
                                    <td>
                                        <a href="@Url.Action("AddOrEdit","Customers",new { id=item.CustomersId})"><i class="zmdi zmdi-edit zmdi-hc-2x"></i></a>&nbsp; &nbsp; &nbsp;
                                        <a href="@Url.Action("Delete","Customers",new { id=item.CustomersId})" data-id="@item.CustomersId"><i class="zmdi zmdi-delete  zmdi-hc-2x"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
    $(document).ready(function () {
        $("#customerDelete").click(function () {
            var id = $(this).data("id");
            alert(id);
            $.ajax({
                type: "post",
                url: "http://localhost:57761/Admin/Customers/Delete",
                data: id,
                success: function () {
                    alert("ok");
                },
                error: function () {
                    alert("no")
                }
            });
        });
    })


</script>*@